# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.fil
M30/
NGC6397/
slurm_job_logs/
QUICK_ANALYSIS/
slurm_jobs_*
*.pkl
*.pyc
ML_SELECTED/
CANDIDATE_VIEWER/
*fold_commands*
