SEARCH_LABEL                        NGC6397               # Label of this search project
ROOT_WORKDIR                        /tmp      # Path of the root working directory
DATA_TYPE                           filterbank                     # Options: filterbank, psrfits

# PRESTO installations and GPU acceleration
PRESTO                              /software/presto2.1_05Apr2019/               # Path of the main PRESTO installation
PRESTO_GPU                          /software/presto2_on_gpu/               # Path of the PRESTO_ON_GPU installation (if present) 
USE_CUDA                            1               # Use GPU-acceleration? (1=yes, 0=no)
CUDA_IDS                            0               # Comma-separated ids of NVIDIA GPUs to use (e.g. "0,1,2,3" - check with 'nvidia-smi')

# Core search parameters
DM_MIN                              67.0              # Minimum DM to search (80)
DM_MAX                              77.0         # Maximum DM to search      (95) 
DM_COHERENT_DEDISPERSION            71.8               # DM value of possible coherent dedispersion (CDD) (0 = NO CDD)
N_SUBBANDS                          0                # Number of subbands to use (0 = use all channels)

ZAP_ISOLATED_PULSARS_FROM_FFTS      0                # Zap the known pulsars in the power spectra? (1=yes, 0=no)
ZAP_ISOLATED_PULSARS_MAX_HARM       8                # If zap the known pulsars in the power spectra, do it up to this harmonic 

PERIOD_TO_SEARCH_MIN                0.001            # Mimimum acceptable candidate period (s) 
PERIOD_TO_SEARCH_MAX                20.0             # Maximum acceptable candidate period (s) 

LIST_SEGMENTS                       full,119,59,29,15             # Comma-separated lengths (in minutes) of chunks to search (e.g. "full,20,10")
ACCELSEARCH_LIST_ZMAX               200            # List (comma-separated) of zmax values to use with PRESTO accelsearch 
ACCELSEARCH_NUMHARM                 16                # Number of harmonics to use for acceleration search
ACCELSEARCH_GPU_LIST_ZMAX           1200
ACCELSEARCH_GPU_NUMHARM             16
JERKSEARCH_ZMAX                     0                # Zmax value to use for jerk search
JERKSEARCH_WMAX                     0                # Wmax value to use for jerk search (0 = do not do jerk search)
JERKSEARCH_NUMHARM                  8                # Number of harmonics to use for jerk search
JERKSEARCH_NCPUS                    4               # Number of CPU cores to use for jerk search

# RFIFIND parameters
RFIFIND_TIME                        2.2            # Value for RFIFIND -time option
RFIFIND_FREQSIG                     6.0            # Value for RFIFIND -freqsig option
RFIFIND_TIMESIG                     10.0           # Value for RFIFIND -timesig option
RFIFIND_INTFRAC                     0.3           # Value for RFIFIND -intfrac option
RFIFIND_CHANFRAC                    0.7            # Value for RFIFIND -chanfrac option
RFIFIND_CHANS_TO_ZAP                ""             # List of channels to zap in the RFIFIND mask
RFIFIND_TIME_INTERVALS_TO_ZAP       ""             # List of time intervals to zap in the RFIFIND mask
IGNORECHAN_LIST                     ""             # List of channels to completey ignore from the analysis (PRESTO -ignorechan option)

# Additional flags for all the PRESTO routines
RFIFIND_FLAGS                       "-nooffsets -noscales"             # Any additional options to give to RFIFIND
PREPDATA_FLAGS                      ""             # Any additional options to give to PREPDATA
PREPSUBBAND_FLAGS                   ""     # Any additional options to give to PREPSUBBAND
REALFFT_FLAGS                       ""             # Any additional options to give to REALFFT
REDNOISE_FLAGS                      ""             # Any additional options to give to REDNOISE
ACCELSEARCH_FLAGS                   ""             # Any additional options to give to ACCELSEARCH
ACCELSEARCH_GPU_FLAGS               ""             # Any additional options to give to ACCELSEARCH of PRESTO_ON_GPU
PREPFOLD_FLAGS                      ""     # Any additional options to give to PREPFOLD

FLAG_REMOVE_FFTFILES                1               # Remove FFT files after searching to save disk space? (1=yes, 0=no)
FLAG_REMOVE_DATFILES_OF_SEGMENTS    1               # Remove .dat files of the shorter segments after searching to save disk space? (1=yes, 0=no)
SIFTING_FLAG_REMOVE_DUPLICATES      1               # Remove candidate duplicates when sifting? (1=yes, 0=no)
SIFTING_FLAG_REMOVE_DM_PROBLEMS     1               # Remove candidates that appear in few DM values? (1=yes, 0=no)
SIFTING_FLAG_REMOVE_HARMONICS       0               # Remove harmoniacally related candidates? (1=yes, 0=no)
SIFTING_MINIMUM_NUM_DMS             3               # Minimum number of DM values at which a candidate has to appear in order to be considered 'good'
SIFTING_MINIMUM_DM                  2.0             # Minimum DM value at  at which a candidate has to appear in order to be considered 'good'
SIFTING_SIGMA_THRESHOLD             4.0             # Minimum acceptable significance of a candidate

FLAG_FOLD_KNOWN_PULSARS             1               # Fold candidates that are likely redetections of known pulsars? (1=yes, 0=no)
FLAG_FOLD_TIMESERIES                1               # Fold the candidates using the time series (super-fast, but no frequency information)? (1=yes, 0=no)
FLAG_FOLD_RAWDATA                   1               # Fold the candidates using raw data file (slow, but has all the information)? (1=yes, 0=no)
NUM_SIMULTANEOUS_FOLDS              48              # Max number of prepfold instances to run at once
NUM_SIMULTANEOUS_DMS_PREPSUBBAND    100            # Number of simultaneous DM values processed at once by PREPSUBBAND  

# PIPELINE STEPS TO EXECUTE (1=do, 0=skip)
STEP_RFIFIND                        0               # Run the RFIFIND step? (1=yes, 0=no)
STEP_ZAPLIST                        0               # Run the ZAPLIST step? (1=yes, 0=no)
STEP_DEDISPERSE                     1               # Run the DEDISPERSION step? (1=yes, 0=no)
STEP_REALFFT                        1               # Run the REALFFT step? (1=yes, 0=no)
STEP_PERIODICITY_SEARCH             1               # Run the PERIODICITY SEARCH step? (1=yes, 0=no)
STEP_SIFTING                        1               # Run the SIFTING step? (1=yes, 0=no)
STEP_FOLDING                        1               # Run the FOLDING step? (1=yes, 0=no)
